{% extends 'layouts/base.html' %}
{% block head %}
    <style>
        body {
            background-image: url('/media/5.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        #example1 {
            text-align: center;
            width: auto;
            border: 2px solid black;
            padding: 70px;
            background-color: black;
            background-repeat: no-repeat;
            background-size: auto;
            color: white;
        }

        #example2 {
            border: 2px solid black;
            padding: 25px;
            background-size: 300px 100px;
        }

        h2.pos_left {
            position: relative;
            left: -60px;
            bottom: -60px;
        }

        h2.pos_right {
            width: auto;
            position: relative;
            left: 250px;
            bottom: -120px;
            font-size: 90px;
            margin-top: -0.3em;
            margin-bottom: -0.3em;

        }

        h3.pos_right {
            width: auto;
            position: relative;
            left: 250px;
            bottom: -120px;
            font-size: 190px;
            margin-top: -0.2em;
            margin-bottom: -0.3em;

        }
    </style>
{% endblock head %}
{% block content %}
    <main style="font-family: 'Molin', sans-serif">
        <br>
        <h1 style="font-size:50px;color: white;background-color: purple; margin-top: -0.2em">About MetaVerse </h1>
        <h2 style="color: white;font-family: sans-serif" class="pos_right">Best </h2>
        <br>
        <h2 style="color: white;font-family: sans-serif" class="pos_right"> School </h2>
        <br>
        <h2 style="color: white;font-family: sans-serif" class="pos_right"> Website</h2>
        <br>
        <h3 style="color: white;font-family: sans-serif" class="pos_right"> 01</h3>
        <div style="color:white;position: relative;left: 620px;bottom:260px;font-size:20px">
            <h1>Our Mission</h1>
            <pre style="font-size:22px;">
        admissions and successful careers. The regulation provides
        a rigorous university curriculum
        with an emphasis on science, mathematics, and history in
        an environment that is supportive of
        learning and respect that prepares students to make informed
        choices about post-college endeavours
        With a selection of senior professors,at a symbolic price,
        the student can learn in an environsment
        that does not differ from that found in regular universities.
        It is the future where education will
        not be limited to one class anymore..</pre>
        </div>
        <iframe style="position: relative;right: -300px;bottom: 20px; " width="970" height="600"
                src="https://www.youtube.com/embed/HoaepDLQV1A?autoplay=1&cc_load_policy=1&mute=1"
                allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
        </iframe>
        <br>
        <iframe style="position: relative;right: -300px;bottom: 20px; " width="970" height="600"
                src="https://www.youtube.com/embed/0nooKmOEL4I?autoplay=1&cc_load_policy=1&mute=1"
                allowfullscreen
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
        </iframe>
        <div style="background-color:black;color: white ;position: relative;">
            <br>
            <br>
            <br>
            <br>
            <h1>&nbsp &nbsp Meet our President</h1>
            <pre style="font-size:30px;">
            NOURELDIN OSAMA is the 1th President of Metaverse
            University. He is one of the
            most experienced leaders in Egypt higher education,
            known for his commitment
            to expanding student opportunity,
            advancing academic innovation, and encouraging
            universities’ civic engagement and service to society.
        </pre>
            <div style="background-color:black;position: relative;left: 1120px;bottom: 400px">
                <img src="https://scontent.fcai19-7.fna.fbcdn.net/v/t39.30808-6/263904509_371512811402308_3755526051827241830_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=SQ95siKxHMQAX-rt949&_nc_ht=scontent.fcai19-7.fna&oh=00_AT8RBYxapqA0_nOWqEM-u3UaQUg86WlFTkD05BPhZmhj5A&oe=6281F6A4">
            </div>
        </div>
        <div id="example1">
        <pre style="color:white;">
        <h3 style="color:cyan;"> Educating the Whole Person</h3>      The main benefit eLearning can reap from the metaverse
        is its ability to bring online learning environments to life.
        Educators can build rooms that suit their educational needs.
        </pre>
            <h2 style="color:cyan;">MetaVerse </h2>
            <h3 style="color:white;">© 2022 University of World | Cairo,Egypt </h3>
        </div>
    </main>
{% endblock content %}
