{% extends "layouts/base.html" %}
{% block head %}
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
{% endblock head %}
{% block content %}
    <main class="container">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-auto">
                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark"
                     data-type="VERTICAL" data-vanity="noureldin-osama-saad" data-version="v1"></div>
            </div>
            <div class="col-auto">
                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark"
                     data-type="VERTICAL" data-vanity="hussein-elwakeel-754ab91b4" data-version="v1"></div>
            </div>
            <div class="col-auto">
                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark"
                     data-type="VERTICAL" data-vanity="seif-eldin-hesham-8a1367197" data-version="v1"></div>
            </div>
            <div class="col-auto">
                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark"
                     data-type="VERTICAL" data-vanity="mohamed-reda-224b631ba" data-version="v1"></div>
            </div>
        </div>
    </main>
{% endblock content %}
