{% extends 'layouts/base.html' %}
{% block head %}
    <style>
        body {
            background-image: url('/media/stud.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="col-md-6" style="position: relative; right: -160px; bottom:-300px;
        color: white; background-color: purple; font-size:18px; opacity:0.85; font-weight: bold; padding: 10px">
        <h2>Campus Life</h2>
        MetaVerse’s collaborative, hands-on, curiosity-driven ethos
        <br> in the classroom and lab extends across our campus — and beyond.
        <br> On the stage or field, living communities' student life.mit.edu,
        <br> and the surrounding area.
        <br>
        <br> MetaVerse is where brilliant, committed, creative people come
        <br> together to learn, work, live, and play.
    </div>
{% endblock content %}
