{% extends 'layouts/base.html' %}
{% block head %}
    <style>
        #example1 {
            text-align: center;
            width: auto;
            border: 2px solid black;
            padding: 20px;
            background-color: darkorange;
            background-repeat: no-repeat;
            background-size: auto;
            color: white;
        }
    </style>
{% endblock head %}
{% block content %}
    <div id="example1" style="background-color: purple;font-family: 'Molin', sans-serif">
        <h6 style="color:white;font-size:40px">CONTACT US</h6>
        <pre style="color:white ;font-size:30px">Our MetaVerse Team is ready to hear from you</pre>
        <h4 style="color:cyan;">MetaVerse</h4>
    </div>
    <br>
    <div style="color: white;font-size:20px;font-family: 'Molin', sans-serif">
        <h1>&nbsp Contact and Maps</h1>
        <br>&nbsp &nbsp &nbsp Where is the metaverse?
        <br>&nbsp &nbsp &nbsp Basically, a place parallel to the physical world,
        <br>&nbsp &nbsp &nbsp where you spend your digital life. A place where you
        <br>&nbsp &nbsp &nbsp and other people have an avatar, and you interact with
        <br>&nbsp &nbsp &nbsp them through their avatars. Some also argue that the
        <br>&nbsp &nbsp &nbsp metaverse in the truest sense of the term
        <br>&nbsp &nbsp &nbsp doesn't actually exist yet
    </div>
{% endblock content %}
